.inputContainer{
    background-color: aqua;
    display: inline-block;
    width: 100%;
}
.inputField{
    width: 90%;
    min-width: 300px;
    margin: 20px;
    height: 50px;
    font-size: larger;
    padding: 10px;
}
.calculator{
    width: 50%;
    background-color: blue;
    min-width: 300px;
}
.buttonContainer{
    width: 100%;
    min-width: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.button{
    height: 100px;
    width: 222px;
    font-size: 24px;
    font-weight: 600;
}